@model HomeVM

<!-- Page Header -->
<header class="header" id="home">
    <div class="container">
        <div class="infos">
            <h6 class="subtitle">@Model.Banner.SubTitle</h6>
            <h6 class="title">@Model.Banner.Name</h6>
            <p>@Model.Banner.Profesion</p>

            <div class="buttons pt-3">
                <button class="btn btn-primary rounded">HIRE ME</button>
                <button class="btn btn-dark rounded">DOWNLOAD CV</button>
            </div>

            <div class="socials mt-4">
                <a class="social-item" href="javascript:void(0)"><i class="ti-facebook"></i></a>
                <a class="social-item" href="javascript:void(0)"><i class="ti-google"></i></a>
                <a class="social-item" href="javascript:void(0)"><i class="ti-github"></i></a>
                <a class="social-item" href="javascript:void(0)"><i class="ti-twitter"></i></a>
            </div>
        </div>
        <div class="img-holder">
            <img src="~/assets/imgs/man.svg" alt="">
        </div>
    </div>

    <!-- Header-widget -->
    <div class="widget">
        @foreach (var item in Model.ClientCounts)

        {
                <div class="widget-item">
                    <h2>@item.Count</h2>
                    <p>@item.Title</p>
                </div>
        }
    </div>
</header>
<!-- End of Page Header -->
<!-- About section -->
<section id="about" class="section mt-3">
    <div class="container mt-5">
        <div class="row text-center text-md-left">
            <div class="col-md-3">
                <img src="@Model.About.PhotoUrl" alt="" class="img-thumbnail mb-4">
            </div>

            <div class="pl-md-4 col-md-9">
                <h6 class="title"></h6>
                <p class="subtitle">@Model.About.Title</p>
                <p>@Model.About.Content</p>
                <p>@Model.About.Content<p>
                    <button class="btn btn-primary rounded mt-3">DOWNLOAD CV</button>
            </div>

        </div>
    </div>
</section>

<!-- Service section -->
<section id="service" class="section">
    <div class="container text-center">
        <h6 class="subtitle">Service</h6>
        <h6 class="section-title mb-4">What I Do</h6>
        <p class="mb-5 pb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. In alias dignissimos. <br> rerum commodi corrupti, temporibus non quam.</p>

        <div class="row">
            @foreach (var service in Model.Services.Take(4))
            {
                    <div class="col-sm-6 col-md-3 mb-4">
                        <div class="custom-card card border">
                            <div class="card-body">
                                <i class="@service.Icon"></i>
                                <h5>@service.Title</h5>
                            </div>
                        </div>
                    </div>
            }

        </div>
    </div>
</section>
<!-- End of Sectoin -->
<!-- Skills section -->
<section class="section">
    <div class="container text-center">
        <h6 class="subtitle">Skills</h6>
        <h6 class="section-title mb-4">Why Choose me</h6>
        <p class="mb-5 pb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. In alias dignissimos. <br> rerum commodi corrupti, temporibus non quam.</p>

        <div class="row text-left">
            @foreach (var skill in Model.Skills)
            {
                    <div class="col-sm-6">
                        <h6 class="mb-3">@skill.Name</h6>
                        <div class="progress">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: @skill.SkillPerecent%;" aria-valuenow="@skill.SkillPerecent%" aria-valuemin="0" aria-valuemax="100"><span>@skill.SkillPerecent%</span></div>
                        </div>
                    </div>
            }

        </div>
    </div>
</section>
<!-- End of Skills sections -->
<!-- Portfolio section -->
<section id="portfolio" class="section">
    <div class="container text-center">
        <h6 class="subtitle">Portfolio</h6>
        <h6 class="section-title mb-4">Check My Wonderful Works</h6>
        <p class="mb-5 pb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. In alias dignissimos. <br> rerum commodi corrupti, temporibus non quam.</p>

        <div class="row">
            <div class="col-sm-4">
                <div class="img-wrapper">
                    <img src="~/assets/imgs/folio-1.jpg" alt="">
                    <div class="overlay">
                        <div class="overlay-infos">
                            <h5>Project Title</h5>
                            <a href="javascript:void(0)"><i class="ti-zoom-in"></i></a>
                            <a href="javascript:void(0)"><i class="ti-link"></i></a>
                        </div>
                    </div>
                </div>
                <div class="img-wrapper">
                    <img src="~/assets/imgs/folio-2.jpg" alt="">
                    <div class="overlay">
                        <div class="overlay-infos">
                            <h5>Project Title</h5>
                            <a href="javascript:void(0)"><i class="ti-zoom-in"></i></a>
                            <a href="javascript:void(0)"><i class="ti-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="img-wrapper">
                    <img src="~/assets/imgs/folio-3.jpg" alt="">
                    <div class="overlay">
                        <div class="overlay-infos">
                            <h5>Project Title</h5>
                            <a href="javascript:void(0)"><i class="ti-zoom-in"></i></a>
                            <a href="javascript:void(0)"><i class="ti-link"></i></a>
                        </div>
                    </div>
                </div>
                <div class="img-wrapper">
                    <img src="~/assets/imgs/folio-4.jpg" alt="">
                    <div class="overlay">
                        <div class="overlay-infos">
                            <h5>Project Title</h5>
                            <a href="javascript:void(0)"><i class="ti-zoom-in"></i></a>
                            <a href="javascript:void(0)"><i class="ti-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="img-wrapper">
                    <img src="~/assets/imgs/folio-5.jpg" alt="">
                    <div class="overlay">
                        <div class="overlay-infos">
                            <h5>Project Title</h5>
                            <a href="javascript:void(0)"><i class="ti-zoom-in"></i></a>
                            <a href="javascript:void(0)"><i class="ti-link"></i></a>
                        </div>
                    </div>
                </div>
                <div class="img-wrapper">
                    <img src="~/assets/imgs/folio-6.jpg" alt="">
                    <div class="overlay">
                        <div class="overlay-infos">
                            <h5>Project Title</h5>
                            <a href="javascript:void(0)"><i class="ti-zoom-in"></i></a>
                            <a href="javascript:void(0)"><i class="ti-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- End of portfolio section -->
<!-- Testmonial Section -->
<section id="testmonial" class="section">
    <div class="container text-center">
        <h6 class="subtitle">Testmonial</h6>
        <h6 class="section-title mb-4">What People Say About Me</h6>
        <p class="mb-5 pb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. In alias dignissimos. <br> rerum commodi corrupti, temporibus non quam.</p>


        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">

                @for (int i = 0; i < Model.Tesimonials.Count; i++)

                {
                        <li data-target="#carouselExampleIndicators" data-slide-to="@Model.Tesimonials[i]" class="@(i ==0 ? " active" : "" )"></li>
                }
            </ol>
            <div class="carousel-inner">


                @for (int i = 0; i < Model.Tesimonials.Count; i++)

                {
                        <div class="carousel-item @(i ==0 ? " active" : "" )">
                            <div class="card testmonial-card border">
                                <div class="card-body">
                                    <img src="@Model.Tesimonials[i].PhotoUrl" alt="">
                                    <p> @Model.Tesimonials[i].Name </p>
                                    <h1 class="title">@Model.Tesimonials[i].Content</h1>
                                    <h1 class="subtitle">@Model.Tesimonials[i].Profession</h1>
                                </div>
                            </div>
                        </div>
                }
            </div>
        </div>
    </div>
</section>
<!-- End of testmonial section -->
<!-- Blog Section -->
<section id="blog" class="section">
    <div class="container text-center">
        <h6 class="subtitle">My Blogs</h6>
        <h6 class="section-title mb-4">Latest News</h6>
        <p class="mb-5 pb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. In alias dignissimos. <br> rerum commodi corrupti, temporibus non quam.</p>

        <div class="row text-left">
            @foreach (var blog in Model.Blogs.Take(3))

            {
                <div class="col-md-4">
                    <div class="card border mb-4">
                        <img src="@blog.PhotoUrl" alt="" class="card-img-top w-100">
                        <div class="card-body">
                            <h5 class="card-title"> @blog.Title </h5>
                                <div class="post-details">
                                <a href="javascript:void(0)">Posted By: @blog.PublishUser</a>
                                <a href="javascript:void(0)"><i class="ti-thumb-up"></i> @blog.Like </a>
                                <a href="javascript:void(0)"><i class="ti-comment"></i> @blog.Comments</a>
                            </div>
                            <p>@blog.Desciption</p>
                            <a href="javascript:void(0)">Read More..</a>
                        </div>
                    </div>
                </div>
            }
    </div>
</section>

<!-- Hire me section -->
<section class="bg-gray p-0 section">
    <div class="container">
        <div class="card bg-primary">
            <div class="card-body text-light">
                <div class="row align-items-center">
                    <div class="col-sm-9 text-center text-sm-left">
                        <h5 class="mt-3">Hire Me For Your Project</h5>
                        <p class="mb-3">Accusantium labore nostrum similique quisquam.</p>
                    </div>
                    <div class="col-sm-3 text-center text-sm-right">
                        <button class="btn btn-light rounded">Hire Me!</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End od Hire me section. -->
<!-- Contact Section -->
<section id="contact" class="position-relative section">
    <div class="container text-center">
        <h6 class="subtitle">Contact</h6>
        <h6 class="section-title mb-4">Get In Touch With Me</h6>
        <p class="mb-5 pb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. In alias dignissimos. <br> rerum commodi corrupti, temporibus non quam.</p>

        <div class="contact text-left">
            <div class="form">
                <h6 class="subtitle">Available 24/7</h6>
                <h6 class="section-title mb-4">Get In Touch</h6>
                <form id="contactForm" method="post" asp-controller="Home" asp-action="Index">
                    <div class="form-group">
                        <input class="form-control" id="email" name="UserEmail" type="email" placeholder="Your Email *"
                            data-sb-validations="required,email">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="name"  name="UserName" data-sb-validations="required" placeholder="ADını yaz" >
                    </div>
                    <div class="form-group">
                          <textarea class="form-control" id="message" cols="30" rows="5" name="UserMessage" placeholder="Your Message *"
                            data-sb-validations="required"></textarea>
                    </div>  
                    <button type="submit" class="btn btn-primary btn-block rounded w-lg">Send Message</button>
                </form>
            </div>
            <div class="contact-infos">
                <div class="item">
                    <i class="ti-location-pin"></i>
                    <div class="">
                        <h5>Location</h5>
                        <p> 12345 Fake ST NoWhere AB Country</p>
                    </div>
                </div>
                <div class="item">
                    <i class="ti-mobile"></i>
                    <div>
                        <h5>Phone Number</h5>
                        <p>(123) 456-7890</p>
                    </div>
                </div>
                <div class="item">
                    <i class="ti-email"></i>
                    <div class="mb-0">
                        <h5>Email Address</h5>
                        <p>info@website.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="map">
        <iframe src="https://snazzymaps.com/embed/61257"></iframe>
    </div>
</section>
<!-- End of Contact Section -->
